<ul>
  <%= form_for @user do |f| %>
   <% @user.errors.full_messages.each do |msg| %>
      <div>Errors:</div>
      <p><%= msg %></p>
   <% end %>
    <li>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li><%= f.submit 'Signup' %></li>
  <% end %>
</ul>
